<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.7" targetFramework="net48" />
  <package id="EnterpriseLibrary.Common.NetCore" version="6.3.0" targetFramework="net48" />
  <package id="EnterpriseLibrary.Logging.NetCore" version="6.3.2" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.7.0" targetFramework="net48" />
  <package id="ExcelDataReader.DataSet" version="3.7.0" targetFramework="net48" />
  <package id="Microsoft.ApplicationInsights" version="2.22.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net48" />
  <package id="Microsoft.DependencyValidation.Analyzers" version="0.11.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1001" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1018" targetFramework="net48" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1004" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Imaging.Interop.14.0.DesignTime" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Interop" version="17.13.40008" targetFramework="net48" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.135" targetFramework="net48" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Prism.Container.Abstractions" version="9.0.106" targetFramework="net48" />
  <package id="Prism.Core" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Events" version="9.0.537" targetFramework="net48" />
  <package id="Prism.Wpf" version="9.0.537" targetFramework="net48" />
  <package id="stdole" version="17.13.40008" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net48" />
  <package id="Unity.Interception" version="5.11.1" targetFramework="net48" />
  <package id="Visio2013.PrimaryInteropAssembly" version="1.0.0.4" targetFramework="net48" />
  <package id="VNC.AddinHelper" version="2.0.0" targetFramework="net48" />
  <package id="VNC.AssemblyHelper" version="2.0.0" targetFramework="net48" />
  <package id="VNC.Core" version="2.1.6" targetFramework="net48" />
  <package id="VNC.Logging" version="2.1.0" targetFramework="net48" />
</packages>